@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #917962;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ margin-top: 20px; padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */
@media screen and (max-width: 500px) { 
    .inner{ padding:0 5vw; }
}

/* header */
header{ transition: background .5s; z-index: 99; position: fixed; left: 0; top: 0; width: 100%; padding: 12px 0; background-color: #F5F1ED; }
header .inner{ display: flex; align-items: center; justify-content: space-between; }
header .logo.white{ display: none; }
header .menu-list{ display: flex; align-items: center; gap: 56px;  }
header .apply-btn{ box-shadow: 5px 6px 4px 0 rgba(0, 0, 0, 0.05); display: flex; align-items: center; gap: 6px; padding: 10px 28px; background-color: rgba(145, 121, 98, .8); color: #fff; border-radius: 100px; }
header .apply-btn .dot{ background-color: #fff; width: 8px; height: 8px; border-radius: 50%; flex-shrink: 0; }
header .menu-btn{ display: none; }

header.active{ border-bottom: 2px solid rgba(255, 255, 255, 0.4); background-color: transparent; color: #fff; }
header.active .logo.white{ display: block; }
header.active .logo.black{ display: none; }
header.active .apply-btn{ background-color: rgba(0,0,0,.8); }

@media screen and (max-width: 1250px) { 
    header .logo{ width: 120px; }
}
@media screen and (max-width: 950px) { 
    header .menu-list{ display: none; }
    header .right-wrap{ display: flex; align-items: center; gap: 10px; }
    header .menu-btn{ display: block; background-color: transparent; border: none; }
    header .menu-btn .icon{ width: 30px; }
    header .apply-btn{ padding: 8px 20px; font-size: 14px; }
}
@media screen and (max-width: 650px) { 
    header .logo{ width: 100px; }
    header .menu-btn .icon{ width: 20px; }
    header .apply-btn{ padding: 5px 10px; }
    header .apply-btn .dot{ width: 4px; height: 4px; }
}

/* .slide-menu */
.slide-menu{ height: 100%; position: fixed; right: -300px; transition: right .5s; top:0; background-color: #fff; z-index: 99; width: 90%; max-width: 300px; }
.slide-menu.show{ right: 0; }
.slide-menu .btn-div{ padding: 20px 3vw; display: flex; align-items: center; justify-content: flex-end; }
.slide-menu .btn-div .close-btn{ background-color: transparent; border: none; }
.slide-menu .menu-wrap{ border-top: 1px solid #efefef; }
.slide-menu .menu-wrap .menu-list > li{ border-bottom: 1px solid #efefef; } 
.slide-menu .menu-wrap .menu-list > li > a{ font-weight: 500; display: block; padding: 14px 3vw; }
.slide-menu-close{ transition: opacity .5s, visibility .5s; opacity: 0; visibility: hidden; cursor: pointer; z-index: 9; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.05); }
.slide-menu-close.show{ opacity: 1; visibility: visible; }

@media screen and (max-width: 650px) { 
    .slide-menu .btn-div{ padding: 20px 5vw; }
}
/* footer */
footer{ background-color: #212121; }
footer .box1{ color: #fff; }
footer .box1 .space-box{ padding: 28px 0 20px 0; display: flex; align-items: flex-end; flex-wrap: wrap; justify-content: space-between; border-bottom: 1px solid #454545;  }
footer .box1 .space-box .privacy-btn{ font-size: 18px; }
footer .box2 .space-box{ gap: 20px; padding: 20px 0 40px 0; display: flex; align-items: flex-end; justify-content: space-between; flex-wrap: wrap; }
footer .box2 .space-box .info-div{ color: #fff; line-height: 1.5em; }
footer .box2 .space-box .info-div .list + .list{ margin-top: 5px; }
footer .box2 .space-box .info-div .list{ display: flex; gap: 20px; }
footer .box2 .space-box .info-div .list .label{ flex-shrink: 0; color: #7F7F7F; width: 90px; }
footer .box2 .copy-right{ font-size: 12px; color: #7F7F7F; }

@media screen and (max-width: 1250px) { 
    footer .box1 .space-box .privacy-btn{ font-size: 16px; }
    footer .logo{ width: 120px; }
    footer .box2 .space-box .info-div{ font-size: 14px; }
    footer .box2 .space-box .info-div .list .label{ width: 75px; }
}
@media screen and (max-width: 650px) { 
    footer .logo{ width: 100px; }
    footer .box2 .space-box{ padding-bottom: 20px; }
    footer .box1 .space-box .privacy-btn{ font-size: 14px; }
}

/* .main .visual-section */
.main .visual-section{ position: relative; min-height: 100vh; padding: 100px 0; display: flex; align-items: center; justify-content: center; background-image: url('../img/main/visual-section/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .visual-section .title-box{ max-width: 911px; margin: 0 auto; color: #fff; }
.main .visual-section .title-box .bar{ height: 2px; background: linear-gradient(90deg, rgba(145, 121, 98, 0.10) 0%, #917962 50.48%, rgba(145, 121, 98, 0.10) 100%); }
.main .visual-section .title-box .en{ font-family: 'KoPub Batang'; font-size: 116px; }
.main .visual-section .title-box .ko{ line-height: 1.25em; font-size: 36px;  }
.main .visual-section .title-box b{ font-weight: 700; }
.main .visual-section .title-box .text-wrap{ padding: 60px 0; }
.main .visual-section .title-box .text-div{ display: flex; align-items: center; justify-content: space-between; }
.main .visual-section .title-box .bar2{ flex-grow: 1; max-width: 190px; height: 1px; background-color: #fff; }
.main .visual-section .center-div{ font-size: 18px; color: #fff; padding: 35px 10px; text-align: center; line-height: 1.5em; margin: 0 auto; max-width: 911px; margin-top: 42px; border-radius: 10px; border: 1px solid #917962; background: rgba(34, 34, 34, 0.20); backdrop-filter: blur(33px); }
.main .visual-section .center-div b{ color: #C1A78E; font-size: 1.25em; font-weight: 700; }
.main .visual-section .center-div .moBr{ display: none; }
.main .visual-section .scroll{ position: absolute; bottom: 10px; }

@media screen and (max-width: 1250px) { 
    .main .visual-section .title-box{ max-width: 711px; }
    .main .visual-section .title-box .en{ font-size: 80px; }
    .main .visual-section .title-box .ko{ font-size: 24px; }
    .main .visual-section .center-div{ max-width: 711px; font-size: 16px; }
}
@media screen and (max-width: 690px) { 
    .main .visual-section .title-box .en{ font-size: 11.5vw; }
    .main .visual-section .title-box .ko{ font-size: 4.5vw; }
    .main .visual-section .title-box .text-wrap{ padding: 12vw 0; }
    .main .visual-section .title-box .bar2{ max-width: 13vw; }
}
@media screen and (max-width: 650px) { 
    .main .visual-section .center-div{ padding: 20px 10px; font-size: 14px; word-break: keep-all; }
    .main .visual-section .scroll{ width: 15px; }
    .main .visual-section .center-div .moBr{ display: inline-block; }
}

/* .main .why-section */
.main .why-section{ background: linear-gradient(180deg, rgba(71, 61, 51, 0.00) 0%, #473D33 100%), #1E1E1E; }
.main .why-section .line-bar{ height: 10px; background: linear-gradient(90deg, rgba(30, 30, 30, 0.40) 0%, #917962 50%, rgba(30, 30, 30, 0.40) 100%), #917962; }
.main .why-section .content-wrap{ padding: 130px 0; }
.main .why-section h2{ text-align: center; font-family: 'KoPub Batang'; font-size: 28px; color: #AF9273; }
.main .why-section h3{ text-align: center; margin-top: 26px; font-size: 32px; color: #fff; }
.main .why-section .content{ color: #fff; text-align: center; margin-top: 15px; line-height: 1.5em; font-size: 18px; }
.main .why-section .content .moBr{ display: none; }
.main .why-section .content b{ font-weight: 700; }
.main .why-section .item-list{ display: grid; grid-template-columns: repeat(4,1fr); grid-gap: 18px; margin-top: 45px; }
.main .why-section .item-list .item{ background-size: cover; background-repeat: no-repeat; background-position: center; color: #fff; text-align: center; padding: 56px 5px; height: 100%; border-top: 4px solid #917962; }
.main .why-section .item-list .item .title{ font-size: 28px; font-weight: 700; line-height: 1.5em; }
.main .why-section .item-list .item .bar{ margin: 56px auto; width: 80px; height: 2px; background-color: #917962; }
.main .why-section .item-list .item .t1{ font-weight: 700; font-size: 20px; line-height: 1.5em; }
.main .why-section .item-list .item .t2{ margin-top: 14px; line-height: 1.5em; }
.main .why-section .item-list .item b{ font-weight: 700; }

@media screen and (max-width: 1250px) { 
    .main .why-section h2{ font-size: 20px; }
    .main .why-section h3{ font-size: 20px; font-size: 24px; }
    .main .why-section .content{ font-size: 16px; }
    .main .why-section .item-list{ gap: 10px; }
    .main .why-section .item-list .item{ word-break: keep-all; padding: 40px 10px; }
    .main .why-section .item-list .item .title{ font-size: 20px; }
    .main .why-section .item-list .item .bar{ margin: 40px auto; }
    .main .why-section .item-list .item .t2 br{ display: none; }
}
@media screen and (max-width: 950px) { 
    .main .why-section .item-list{ grid-template-columns: repeat(2,1fr); }
    .main .why-section .item-list .item{ padding: 40px 30px; }
    .main .why-section .item-list .item .bar{ margin: 20px auto; }
    .main .why-section .item-list .item .title{ font-size: 18px; }
    .main .why-section .item-list .item .t1{ font-size: 16px; }
    .main .why-section .item-list .item .t2{ font-size: 16px; }
}
@media screen and (max-width: 650px) { 
    .main .why-section h3{ font-size: 18px; }
    .main .why-section .content{ font-size: 14px; }
    .main .why-section .content .moBr{ display: inline-block; }
    .main .why-section .content-wrap{ padding: 50px 0; }
    .main .why-section .item-list{ grid-template-columns: repeat(1,1fr); grid-gap: 20px; }
    .main .why-section .item-list .item{ padding: 25px 10px; }
    .main .why-section .item-list .item .title br{ display: none; }
    .main .why-section .item-list .item .t2 br{ display: inline-block; }
    .main .why-section .item-list .item .bar{ margin: 15px auto; width:30px; }
    .main .why-section .item-list .item .t2{ font-size: 14px; }
}

/* .main .moment-section */
.main .moment-section .content-wrap{ padding: 85px 0; background-image: url('../img/main/moment-section/bg.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .moment-section .bottom-bar{ height: 10px; background: linear-gradient(90deg, rgba(30, 30, 30, 0.40) 0%, #917962 50%, rgba(30, 30, 30, 0.40) 100%), #917962; }
.main .main-title-bar{ width: 80px; height: 4px; background-color: #917962; }
.main .moment-section .title-wrap{ color: #fff; margin-top: 20px; display: flex; align-items: flex-end; justify-content: space-between; }
.main .moment-section .title-wrap h2{ flex-shrink: 0; line-height: 1.25em; font-size: 36px;  }
.main .moment-section .title-wrap h2 b{ font-weight: 700; padding-left: 193px;  }
.main .moment-section .title-wrap .bar{ max-width: 241px; margin-bottom: 10px; flex-grow: 1; height: 1px; background-color: #F5F1ED; }
.main .moment-section .title-wrap h3{ font-size: 20px; }
.main .moment-section .item-list{ margin-top: 40px; display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 20px; }
.main .moment-section .item-list .item{ height: 100%; display: flex; background-color: #fff; }
.main .moment-section .item-list .item .img-wrap{ position: relative; overflow: hidden; width: 240px; flex-shrink: 0; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .moment-section .item-list .item .img-wrap .img-box{ width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .moment-section .item-list .item .content{ flex-grow: 1; background-color: #F5F1ED; padding: 34px;  } 
.main .moment-section .item-list .item .content .t1{ font-size: 20px; font-weight: 700; color: #1E1E1E; }
.main .moment-section .item-list .item .content .t2{ margin-top: 14px; line-height: 1.5em; font-size: 18px; }
.main .moment-section .item-list .item .content .more-btn{ display: flex; gap: 6px; font-size: 14px; max-width: 100px; color: #fff;  background-color: #917962; border-radius: 4px; padding: 6px 15px; margin-top: 24px;  }

@media screen and (max-width: 1250px) { 

    .main .moment-section .title-wrap{ gap: 20px; }
    .main .moment-section .title-wrap h2{ font-size: 24px; }
    .main .moment-section .title-wrap h3{ font-size: 16px; }

    .main .moment-section .item-list .item .img-wrap{ width: 40%; min-height: 200px; }
    .main .moment-section .item-list .item .content{ display: flex; flex-direction: column; align-items: flex-start; justify-content: center; padding: 20px 20px; }
    .main .moment-section .item-list .item .content .t1{ font-size: 18px; }
    .main .moment-section .item-list .item .content .t2{ font-size: 16px; }
    .main .moment-section .item-list .item .content .t2 { word-break: keep-all; } 
    .main .moment-section .item-list .item .content .t2 br{ display: none; }
    .main .moment-section .item-list .item .content .more-btn{ width: 100%; margin-top: 14px; }
}
@media screen and (max-width: 950px) { 
    .main .main-title-bar{ margin: 0 auto; }
    .main .moment-section .title-wrap h2{ width: 100%; }
    .main .moment-section .title-wrap h2 b{ padding: 0; }
    .main .moment-section .title-wrap h3{ width: 100%; }
    .main .moment-section .item-list{ grid-template-columns: repeat(1,1fr); }
    .main .moment-section .title-wrap{ flex-wrap: wrap; text-align: center; }
    .main .moment-section .title-wrap .bar{ display: none; }
}
@media screen and (max-width: 650px) { 
    .main .main-title-bar{ width: 40px; height: 2px; }

    .main .moment-section .content-wrap{ padding: 50px 0; }
    .main .moment-section .title-wrap h3{ font-size: 14px; }
    .main .moment-section .title-wrap h2{ font-size: 18px; }
    
    .main .moment-section .item-list .item .img-wrap{ width: 45%; min-height: unset; }
    .main .moment-section .item-list .item .content .t1{ font-size: 16px; }
    .main .moment-section .item-list .item .content .t2{ font-size: 14px; margin-top: 5px; }
}

/* .main .insights-section */
.main .insights-section{ padding: 100px 0 50px 0; background-color: #F5F1ED; }
.main .insights-section .title-box{ display: flex; align-items: flex-end; justify-content: space-between; }
.main .left h2{ margin-top: 22px; font-size: 40px; font-family: 'KoPub Batang'; }
.main .insights-section h2{ color: #222; }
.main .insights-section .title-box .more-view{ display: flex; align-items: center; gap: 10px; color: #7f7f7f; }
.main .insights-section .tab-list{ flex-wrap: wrap; margin-top: 20px; display: flex; gap: 12px; }
.main .insights-section .tab-list .item{ width: 100%; max-width: 142px; border: none; border-radius: 4px; background-color: #fff; text-align: center; padding: 12px 10px; } 
.main .insights-section .tab-list .item.active{ color: #fff; background-color: #917962; box-shadow: 2px 4px 4px 0 rgba(145, 121, 98, 0.25); }
.main .insights-section .content-list{ margin-top: 30px; }
.main .insights-section .content-list > li{ display: none; }
.main .insights-section .content-list > li.show{ display: block; }
.main .insights-section .content-list .item-list{ display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 10px;  }
.main .insights-section .content-list .item-list > a{  display: block; height: 100%; }
.main .insights-section .content-list .item-list .item{ box-shadow: 5px 9px 5px 0 rgba(0, 0, 0, 0.15); background-color: #fff; height: 100%; }
.main .insights-section .content-list .item-list .item .img-box{ background-image: url('../img/main/insights-section/example.jpg'); height: 203px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .insights-section .content-list .item-list .item .content-box{ padding: 20px; }
.main .insights-section .content-list .item-list .item .category{ color: #917962; }
.main .insights-section .content-list .item-list .item .title{ font-size: 18px; font-weight: 700; margin-top: 12px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.main .insights-section .content-list .item-list .item .content{ line-height: 1.5em; margin-top: 5px; color: #7F7F7F; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.main .insights-section .content-list .tag-list{ margin-top: 22px; display: flex; flex-wrap: wrap; gap: 7px;  }
.main .insights-section .content-list .tag-list .tag{ color: #917962; border-radius: 100px; background-color: #F7F6F4; padding: 5px 16px; }
.main .insights-section .content-list .item-list a:last-child{ display: none; }

.main .insights-section .apply-section-link{ margin-top: 50px; }   

@media screen and (max-width: 1250px) { 
    .main .insights-section .main-title-bar{ margin: 0; width: 40px; height: 2px; }  
    .main .left h2{ font-size: 30px; margin-top: 10px; }
    .main .insights-section .title-box .more-view{ font-size: 14px; }
    .main .insights-section .content-list .item-list .item .img-box{ height: 16vw; }
    .main .insights-section .content-list .item-list .item .content-box{ padding: 15px 10px; }
    .main .insights-section .content-list .item-list .item .category{ font-size: 14px; }
    .main .insights-section .content-list .tag-list{ margin-top: 10px; }
    .main .insights-section .content-list .tag-list .tag{ font-size: 14px; }
}
@media screen and (max-width: 950px) { 
    .main .insights-section .tab-list{ gap: 10px; }
    .main .insights-section .tab-list .item{ padding: 10px 5px; font-size: 14px; max-width: calc((100% / 3) - 7px);  }
    .main .insights-section .content-list .item-list{ grid-template-columns: repeat(2,1fr); }
    .main .insights-section .content-list .item-list a:last-child{ display: block; }
    .main .insights-section .content-list .item-list .item .img-box{ height: 24vw; }
}
@media screen and (max-width: 650px) { 
    .main .left h2{ font-size: 24px; }
    .main .insights-section{ padding: 50px 0 0 0; }
    .main .insights-section .main-title-bar{ margin: 0; }
    .main .insights-section .tab-list .item{ max-width: calc((100% / 2) - 7px); }
    .main .insights-section .tab-list .item:first-child{ max-width: 100%; }
    .main .insights-section .content-list .item-list{ grid-template-columns: repeat(1,1fr); }
    .main .insights-section .content-list .item-list .item .img-box{ height: 46vw; }
    .main .insights-section .content-list .item-list .item .title{ font-size: 16px; }
    .main .insights-section .content-list .item-list .item .content{ font-size: 14px; }
}

/* .main .news-section */
.main .news-section{ padding: 150px 0; background-color: #473D33; color: #fff; }
.main .news-section .inner{ gap: 199px; display: flex; align-items: center;  }
.main .news-section .left{ flex-shrink: 0; }
.main .news-section .main-title-bar{ background-color: #fff; }
.main .news-section .content{ margin-top: 45px; line-height: 1.5em; font-size: 18px; }
.main .news-section .more-view{ display: flex; align-items: center; gap: 10px; margin-top: 70px; }
.main .news-section .board-div{ flex-grow: 1; }
.main .news-section .board-div .item{ border-top: 1px solid #d9d9d9; padding: 40px 0; display: flex; align-items: center; justify-content: space-between; gap: 20px; font-size: 22px; }
.main .news-section .board-div .item .title{  display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; }

@media screen and (max-width: 1250px) { 
    .main .news-section .board-div .item{ padding: 25px 0; font-size: 16px; }
    .main .news-section .content{ font-size: 16px; }
}
@media screen and (max-width: 950px) { 
    .main .news-section .main-title-bar{ margin: 0; }
    .main .news-section .inner{ flex-direction: column; gap: 40px; }
    .main .news-section .left{ width: 100%; }
    .main .news-section .board-div{ width: 100%; }
}
@media screen and (max-width: 650px) { 
    .main .news-section{ padding: 50px 0; }
    .main .news-section .more-view{ font-size: 14px; margin-top: 20px; }
    .main .news-section .content{ margin-top: 20px; font-size: 14px; }
    .main .news-section .board-div .item{ padding: 15px 0; font-size: 14px; }
}

/* .main .contactus-section */
.main .contactus-section{ position: relative; min-height: 100vh; display: flex; align-items: center; justify-content: center; padding: 100px 0; }
.main .contactus-section .bg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .contactus-section .inner{ display: flex; flex-direction: column; align-items: center; justify-content: center; position: relative; z-index: 2; }
.main .contactus-section .bar{ margin: 26px auto; width: 1px; height: 60px; background-color: #FFF; }
.main .contactus-section .title{ font-weight: 300; color: #fff; font-family: 'KoPub Batang'; font-size: 80px; }
.main .contactus-section .content{ margin-top: 28px; font-size: 19px; color: #fff; text-align: center; line-height: 1.5em; }
.main .contactus-section .content b{ font-size: 22px; font-weight: 700; display: inline-block; margin-bottom: 10px; }
.main .contactus-section .btn-wrap{ width: 100%; margin-top: 45px; display: flex; align-items: center; justify-content: center; }
.main .contactus-section .btn-wrap a{ gap: 6px; padding: 15px 10px; background-color: #917962; border-radius: 100px; text-align: center; display: flex; align-items: center; justify-content: center; width: 100%; max-width: 270px; border-radius: 100px; color: #fff; font-size: 18px; }
.main .contactus-section .btn-wrap a .dot{ width: 8px; height: 8px; border-radius: 50%; background-color: #fff;  }

@media screen and (max-width: 1250px) { 
    .main .contactus-section{ padding: 50px 0; }
    .main .contactus-section .logo{ width: 40px; }
    .main .contactus-section .bar{ height: 40px; }
    .main .contactus-section .title{ font-size: 60px; }
    .main .contactus-section .content{ font-size: 16px; }
    .main .contactus-section .content b{ font-size: 18px; }
    .main .contactus-section .btn-wrap a{ padding: 12px 10px; max-width: 200px; }
}
@media screen and (max-width: 650px) { 
    .main .contactus-section{ padding: 100px 0; min-height: auto; }
    .main .contactus-section .logo{ width: 30px; }
    .main .contactus-section .title{ font-size: 40px; }
    .main .contactus-section .bar{ margin: 15px auto; }
    .main .contactus-section .content{ font-size: 14px; }
    .main .contactus-section .btn-wrap a{ padding: 10px; font-size: 14px; max-width: 150px; }
    .main .contactus-section .btn-wrap a .dot{ width: 4px; height: 4px; }
}

/* .sub */
.sub{ padding-top: 80px; }
@media screen and (max-width: 1250px) { 
    .sub{ padding-top: 63px; }
}
@media screen and (max-width: 650px) { 
    .sub{ padding-top: 56px; }
}

/* .sub .sub-banner-section */
.sub .sub-banner-section{ display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; position: relative; overflow: hidden; height: 356px; }
.sub .sub-banner-section{ background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub.sub1 .sub-banner-section{ color: #fff; background-image: url('../img/sub/sub1/banner.jpg'); }
.sub .sub-banner-section h2{ font-size: 36px; }  
.sub .sub-banner-section h2 b{ font-weight: 700; }
.sub .sub-banner-section .content{ margin-top: 12px; line-height: 1.5em; font-size: 20px; }
.sub .sub-banner-section .content b{ font-weight: 700; }
.sub .sub-banner-section .bottom-bar{ z-index: 1; position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background: linear-gradient(90deg, rgba(30, 30, 30, 0.40) 0%, #917962 50%, rgba(30, 30, 30, 0.40) 100%), #917962; }
.sub .sub-banner-section .white-box{ position: absolute; width: 642px; height: 456px; background-color: rgba(255,255,255,.1); }
.sub .sub-banner-section .white-box.left{ transform: rotate(-54.242deg); left: -300px; top: -150px; }
.sub .sub-banner-section .white-box.left2{ left: -400px; }
.sub .sub-banner-section .white-box.right{ transform: rotate(-54.242deg); right: -300px; top: 60px; }
.sub .sub-banner-section .white-box.right2{ right: -400px; top: 60px; }

@media screen and (max-width: 1250px) { 
    .sub .sub-banner-section h2{ font-size: 30px; }
    .sub .sub-banner-section .content{ font-size: 16px; }
}
@media screen and (max-width: 950px) { 
    .sub .sub-banner-section{ height: 280px; }
    .sub .sub-banner-section .white-box.left{ left: -400px; }
    .sub .sub-banner-section .white-box.left.left2{ left: -500px; }
    .sub .sub-banner-section .white-box.right{ right: -400px; }
    .sub .sub-banner-section .white-box.right.right2{ right: -500px; }
}
@media screen and (max-width: 650px) { 
    .sub .sub-banner-section{ height: 200px; }
    .sub .sub-banner-section .white-box.left{ left: -580px; }
    .sub .sub-banner-section .white-box.left.left2{ left: -620px; }
    .sub .sub-banner-section .white-box.right{ right: -460px; }
    .sub .sub-banner-section .white-box.right.right2{ right: -500px; }

    .sub .sub-banner-section h2{ font-size: 20px; }
    .sub .sub-banner-section .content{ font-size: 14px; }
}

/* .sub1_1 .section1 */
.sub1_1{ background-color: #473D33; }
.sub1_1 .section1{ background-color: #473D33; color: #fff; padding: 78px 0; background-image: url('../img/sub/sub1_1/section1/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub .sub-title-wrap .bar{ width: 80px; height: 4px; background-color: #917962; }
.sub .sub-title-wrap h3{ margin-top: 20px; font-family: 'KoPub Batang'; font-size: 40px; }
.sub1 .section1 .content-wrap{ width: 100%; display: flex; flex-direction: column; align-items: flex-start; }
.sub1 .section1 .content-box{ align-items: flex-start; margin-top: 30px; display: flex; gap: 39px; }
.sub1 .section1 .content-box .img-box{ background-size: cover; background-repeat: no-repeat; background-position: center; width: 473px; height: 290px; flex-shrink: 0; }
.sub1 .section1 .content-box .title{ flex-shrink: 0; font-size: 32px; line-height: 1.5em; border-bottom: 1px solid #fff; }
.sub1 .section1 .content-box .title b{ font-weight: 700;  }
.sub1 .section1 .content-box .content{ margin-top: 20px; flex-shrink: 0; padding-left: 300px; font-size: 18px; line-height: 1.5em; }

@media screen and (max-width: 1250px) { 
    .sub .sub-title-wrap .bar{ width: 40px; height: 2px; margin: 0 auto; }
    .sub h3{ text-align: center; }
    .sub h4{ text-align: center; } 
    .sub .sub-title-wrap h3{ font-size: 30px; }
    .sub1 .section1 .content-box{ gap: 40px; } 
    .sub1 .section1 .content-box .title{ font-size: 24px; }
    .sub1 .section1 .content-box .content{ font-size: 16px; }
    .sub1 .section1 .content-box .img-box{ width: 50vw; height: 33vw; flex-grow: 1; }
    .sub1 .section1 .content-box .content{ padding: 0; margin-top: 20px; }
}
@media screen and (max-width: 950px) { 
    .sub1 .section1 .content-box{ flex-direction: column; gap: 20px; }
    .sub1 .section1 .content-box .img-box{ width: 100%; height: 53vw; }
}
@media screen and (max-width: 650px) { 
    .sub1_1 .section1{ padding: 50px 0; }
    .sub .sub-title-wrap .bar{ margin: 0 auto; }
    .sub .sub-title-wrap h3{ margin-top: 10px; font-size: 24px; }
    .sub1 .section1 .content-box{ margin-top: 20px; }
    .sub1 .section1 .content-box .title{ font-size: 18px; }
    .sub1 .section1 .content-box .content{ font-size: 14px; }
}

/* .sub1_1 .section2 */
.sub1_1 .section2{ color: #fff; padding: 90px 0; background-color: #473D33; } 
.sub1_1 .section2 .inner{ display: flex; align-items: center; justify-content: space-between; gap: 20px; }
.sub h3{ color: #AF9273; font-family: 'KoPub Batang'; font-weight: 300; font-size: 28px; }
.sub h4{ color: #fff; font-size: 32px; margin-top: 20px; }
.sub h4 b{ font-weight: 700; }
.sub h4 .moBr{ display: none; }
.sub .sub-content{ margin-top: 13px; line-height: 1.5em; font-size: 18px; }
.sub1_1 .sub-title2{ flex-shrink: 0; }
.sub1_1 .item-box{ display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 6px; width: 100%; max-width: 672px; }
.sub1_1 .item-box .item{ transition: background .5s; cursor: pointer; border: 1px solid #AF9273; padding: 72px 10px; text-align: center; font-weight: 700; color: #AF9273; font-size: 18px;  }
.sub1_1 .item-box .item:hover{ background: rgba(255,255,255,.05); }

@media screen and (max-width: 1250px) { 
    .sub h3{ font-size: 24px; }
    .sub h4{ font-size: 26px; }
    .sub1_1 .section2 .inner{ flex-direction: column; }
    .sub1_1 .sub-title2{ width: 100%; }
    .sub1_1 .item-box{ max-width: unset; }
    .sub1_1 .item-box .item{ font-size: 16px; }
    .sub .sub-content{ text-align: center; font-size: 16px; } 
}
@media screen and (max-width: 650px) { 
    .sub1_1 .section2{ padding: 50px 0; }
    .sub .sub-content{ font-size: 14px; }
    .sub h3{ text-align: center; font-size: 18px; }
    .sub h4{ text-align: center; font-size: 24px; margin-top: 10px; }
    .sub h4 .moBr{ display: inline-block; }
    .sub1_1 .item-box{ grid-template-columns: repeat(2,1fr); }
    .sub1_1 .item-box .item{ font-size: 14px; padding: 10vw 0; }
}

/* .sub1_1 .section3 */
.sub1_1 .section3{ padding: 50px 0; }
.sub1_1 .section3 h3{ text-align: center; }
.sub1_1 .section3 h4{ text-align: center; }
.sub1_1 .section3 .item-wrap{ margin-top: 35px; display: flex; }
.sub1_1 .section3 .item-wrap .item{ display: flex; flex-direction: column; color: #fff; padding: 25px; width: calc(100% / 3); }
.sub1_1 .section3 .item-wrap .bar{ opacity: .4; width: 1px; background-color: #AF9273; }
.sub1_1 .section3 .item-wrap .icon{ margin: 0 auto; background-size: 30%; background-repeat: no-repeat; background-position: center; width: 190px; height: 190px; border-radius: 50%; border: 1px solid #AF9273; }
.sub1_1 .section3 .item-wrap .t1{ text-align: center; margin-top: 15px; font-size: 20px; font-weight: 700; }
.sub1_1 .section3 .item-wrap .t2{ word-break: keep-all; text-align: center; margin-top: 2px; font-size: 18px; }
.sub1_1 .section3 .item-wrap .content{ display: flex; align-items: center; justify-content: center; flex-grow: 1; padding: 24px 10px; background-color: #40372E; border-radius: 4px; text-align: center; margin-top: 20px; line-height: 1.5em; }
.sub1_1 .section3 .item-wrap .content b{ font-weight: 700; }

@media screen and (max-width: 1250px) {
    .sub1_1 .section3 .item-wrap .icon{ width: 100px; height: 100px; }
    .sub1_1 .section3 .item-wrap .t1{ font-size: 16px; }
    .sub1_1 .section3 .item-wrap .t2{ font-size: 16px; }
    .sub1_1 .section3 .item-wrap .content{ word-break: keep-all; }
    .sub1_1 .section3 .item-wrap .content br{display: none; }
}
@media screen and (max-width: 950px) {
    .sub1_1 .section3 .item-wrap{ flex-wrap: wrap; }
    .sub1_1 .section3 .item-wrap .item{ padding: 20px 0; width: 100%; }
    .sub1_1 .section3 .item-wrap .content br{display: inline-block; }
    .sub1_1 .section3 .item-wrap .bar{ display: none; }
}
@media screen and (max-width: 650px) {
    .sub1_1 .section3 .item-wrap{ margin-top: 20px; }
    .sub1_1 .section3 .item-wrap .icon{ width: 80px; height: 80px; }
    .sub1_1 .section3 .item-wrap .content{ font-size: 14px; margin-top: 15px; }
    .sub1_1 .section3 .item-wrap .icon{ background-size: 60%; } 
}

/* .sub1_1 .section4 */
.sub1_1 .section4{ padding: 61px 0 100px 0; background-image: url('../img/sub/sub1_1/section4/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub1_1 .section4 h3{ text-align: center; }
.sub1_1 .section4 h4{text-align: center; }
.sub1_1 .section4 .center-text{ color: #fff; font-size: 37px; padding: 24px 10px; margin: 28px auto 0 auto; width: 100%; max-width: 800px; text-align: center; border: 1px solid #AF9273; }
.sub1_1 .section4 .center-text .center{ text-align: center; font-size: 18px; margin-top: 9px; }
.sub1_1 .section4 .center-text2{ line-height: 1.5em; color: #fff; text-align: center; margin-top: 43px; font-size: 20px; font-weight: 400; }
.sub1_1 .section4 .center-text2 b{ font-weight: 700; }

@media screen and (max-width: 1250px) {
    .sub1_1 .section4 .center-text{ font-size: 24px; }
    .sub1_1 .section4 .center-text .center{ font-size: 16px; }
    .sub1_1 .section4 .center-text2{ font-size: 16px; }
}
@media screen and (max-width: 950px) {
    .sub1_1 .section4 .center-text{ font-size: 18px; line-height: 1.5em; }
}
@media screen and (max-width: 650px) {
    .sub1_1 .section4{ padding: 50px 0; }
    .sub1_1 .section4 .center-text{ font-size: 16px; }
    .sub1_1 .section4 .center-text .center{ font-size: 14px; }
    .sub1_1 .section4 .center-text2{ font-size: 14px; }
}

/* .sub.sub2_1  */
.sub.sub2_1{ background-color: #1E1E1E; }
.sub.sub2 .sub-banner-section{ color: #fff; background-image: url('../img/sub/sub2_1/banner-bg.jpg'); }
.sub.sub2_1 .section1{ padding: 100px 0; background-color: #1E1E1E; }
.sub.sub2_1 .section1 .half-div{ color: #fff; font-size: 18px; line-height: 1.5em; gap: 58px; margin-top: 48px; display: flex; align-items: center; }
.sub.sub2_1 .section1 .half-div .img-box{ width: 624px; height: 334px; flex-shrink: 0; background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub.sub2_1 .section1 .half-div .content-div{ word-break: keep-all; }
.sub.sub2_1 .section1 .half-div .content-div b{ font-weight: 700; }
.sub.sub2_1 .section1 .half-div .logo-box{ margin-top: 12px; display: flex; justify-content: flex-end; align-items: center; }

@media screen and (max-width: 1250px) {
    .sub.sub2_1 .section1 .half-div{ align-items: flex-start; gap: 20px;  }
    .sub.sub2_1 .section1 .half-div .img-box{ width: 45vw; height: 25vw; }
    .sub.sub2_1 .section1 .half-div .content-div .moNone{ display: none; }
}
@media screen and (max-width: 950px) {
    .sub.sub2_1 .section1 .half-div{ gap: 30px; flex-direction: column; }
    .sub.sub2_1 .section1 .half-div .img-box{ width: 100%; height: 49vw; }
    .sub.sub2_1 .section1 .half-div .logo-box{ margin-top: 30px; }
}
@media screen and (max-width: 650px) {
    .sub.sub2_1 .section1{ padding: 50px 0; }
    .sub.sub2_1 .section1 .half-div .content-div{ font-size: 14px; }
    .sub.sub2_1 .section1 .half-div .logo-box .logo{ width: 100px; }
}

/* .sub.sub2_1 .section2 */
.sub.sub2_1 .section2{ padding: 0 0 100px 0; } 
.sub.sub2_1 .section2 .item-list{ grid-gap: 16px; display: grid; grid-template-columns: repeat(4,1fr); margin-top: 22px; }
.sub.sub2_1 .section2 .item-list .item{ height: 100%; display: flex; flex-direction: column;  color: #fff; }
.sub.sub2_1 .section2 .item-list .item .img-div{ background-color: rgba(175, 146, 115, 1); height: 500px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub.sub2_1 .section2 .item-list .item .name-div{ font-weight: 700; margin-top: 10px; display: flex; align-items: flex-end; gap: 11px; }
.sub.sub2_1 .section2 .item-list .item .name-div .name{ font-weight: 700; font-size: 1.5em; }
.sub.sub2_1 .section2 .item-list .item .tag-list{ align-items: flex-start; justify-content: flex-start; flex-grow: 1; color: #917962; margin-top: 10px; display: flex; flex-wrap: wrap; gap: 8px; }
.sub.sub2_1 .section2 .item-list .item .more-btn{ margin-top: 15px; padding: 16px 10px; text-align: center; color: #fff; width: 100%; border: none; background-color: #917962; }

@media screen and (max-width: 1250px) {
    .sub.sub2_1 .section2 .item-list .item .img-div{ height: 39vw; }

}
@media screen and (max-width: 950px) {
    .sub.sub2_1 .section2 .item-list{  grid-template-columns: repeat(2,1fr);  }
    .sub.sub2_1 .section2 .item-list .item .img-div{ height: 79vw; }

}
@media screen and (max-width: 650px) {
    .sub.sub2_1 .section2{ padding: 0 0 50px 0; }
    .sub.sub2_1 .section2 .item-list{ gap: 10px; }
    .sub.sub2_1 .section2 .item-list > li{ margin-top: 5px; }
    .sub.sub2_1 .section2 .item-list .item .img-div{ height: 74vw; }
    .sub.sub2_1 .section2 .item-list .item .tag-list{ font-size: 14px; }
    .sub.sub2_1 .section2 .item-list .item .name-div{ font-size: 14px; gap: 5px; }
    .sub.sub2_1 .section2 .item-list .item .tag-list{ gap: 5px; }
    .sub.sub2_1 .section2 .item-list .item .more-btn{ padding: 10px; font-size: 14px; }
}

/* .lawyer-popup */
.lawyer-popup{ opacity: 0; visibility: hidden; padding: 3vw; display: flex; align-items: center; justify-content: center; position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .8); }
.lawyer-popup.show{ opacity: 1; visibility: visible; }
.lawyer-popup .popup-content{  width: 100%; max-width: 1200px; }
.lawyer-popup .popup-content .btn-wrap{ display: flex; align-items: center; justify-content: flex-end; }
.lawyer-popup .popup-content .btn-wrap .close-btn{ background-color: transparent; border: none; }
.lawyer-popup .popup-content .title-name-div{ margin-top: 15px; padding: 20px 60px; color: #fff; border-radius: 10px 10px 0 0; background: linear-gradient(90deg, rgba(71, 61, 51, 0.00) 0%, #473D33 100%), #917962; }
.lawyer-popup .popup-content .title-name-div .name{ display: flex; align-items: flex-end; gap: 10px; font-weight: 700; }
.lawyer-popup .popup-content .title-name-div .name b{ font-size: 1.5em; }
.lawyer-popup .popup-content .content-div{ padding: 40px 60px; -ms-overflow-style: none; color: #fff; background-color: #222; border-radius: 0 0 10px 10px; max-height: 70vh; overflow-y: scroll; }
.lawyer-popup .popup-content .content-div::-webkit-scrollbar { display: none; }
.lawyer-popup .popup-content .content-div .half-box{ display: flex; align-items: flex-start; gap: 40px; }
.lawyer-popup .popup-content .content-div .half-box .img-box{ flex-shrink: 0; width: 460px; height: 626px; border-radius: 20px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.lawyer-popup .popup-content .content-div .half-box .content-box{ flex-grow: 1; }
.lawyer-popup .popup-content .content-div .half-box .content-box .bar{ height: 4px; background-color: #917962; }
.lawyer-popup .popup-content .content-div .half-box .content-box .name-div{ margin-top: 20px; display: flex; align-items: flex-end; gap: 16px; color: #7f7f7f; font-weight: 700; }
.lawyer-popup .popup-content .content-div .half-box .content-box .name-div b{ color: #fff; font-size: 1.5em; }
.lawyer-popup .popup-content .content-div .half-box .content-box .info-div{ margin-top: 30px; }
.lawyer-popup .popup-content .content-div .half-box .content-box .info-div .title{ font-weight: 700; color: #917962; font-size: 20px; }
.lawyer-popup .popup-content .content-div .half-box .content-box .info-div .title + .dot{ margin-top: 6px; }
.lawyer-popup .popup-content .content-div .half-box .content-box .info-div .dot{ padding-left: 10px; line-height: 1.5em; position: relative; }
.lawyer-popup .popup-content .content-div .half-box .content-box .info-div .dot::before{ content:'・'; position: absolute; left: 0; top: 0; }
.lawyer-popup .popup-content .content-div .half-box .content-box .info-div .dot + .dot{ margin-top: 5px; }

@media screen and (max-width: 1250px) {
    .lawyer-popup .popup-content .content-div .half-box .img-box{ border-radius: 1vw; width: 33vw; height: 44vw; }
}
@media screen and (max-width: 950px) {
    .lawyer-popup .popup-content .content-div .half-box{ flex-direction: column; gap: 40px; }
    .lawyer-popup .popup-content .content-div .half-box .img-box{ width: 100%; height: 106vw; }
    .lawyer-popup .popup-content .content-div .half-box .content-box{ width: 100%; }
}
@media screen and (max-width: 650px) {
    .lawyer-popup .popup-content .content-div{ padding: 40px 20px; }
    .lawyer-popup .popup-content .title-name-div{ padding: 10px 20px; font-size: 14px; }
    .lawyer-popup .popup-content .content-div .half-box .content-box .bar{ height: 2px; }
    .lawyer-popup .popup-content .content-div .half-box .content-box .name-div{ gap: 10px; }
    .lawyer-popup .popup-content .content-div .half-box .content-box .info-div{ margin-top: 10px; }
    .lawyer-popup .popup-content .content-div .half-box .content-box .info-div .title{ font-size: 18px; }
    .lawyer-popup .popup-content .content-div .half-box .content-box{ font-size: 14px; }
}

/* .sub3 .sub-banner-section */
.sub3 .sub-banner-section{ color: #fff; background-image: url('../img/sub/sub3_1/banner-bg.jpg'); }
.sub3_1{ background-color: #1E1E1E; }
.sub3_1 .section1{ padding: 100px 0; }
.sub3_1 .section1 .img-div{ margin-top: 30px; text-align: center; color: #fff; background-image: url('../img/sub/sub3_1/section1/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; padding: 80px 10px; }
.sub3_1 .section1 .img-div b{ font-weight: 700; font-size: 24px; }
.sub3_1 .section1 .img-div .content{ font-size: 18px; margin-top: 14px; }
.sub3_1 .section1 .img-div .content p{ line-height: 1.5em; }
.sub3_1 .section1 .img-div .content p + p{ margin-top: 25px; }

@media screen and (max-width: 1250px) {
    .sub3_1 .section1 .img-div b{ font-size: 20px; }
    .sub3_1 .section1 .img-div .content{ font-size: 16px; }
}
@media screen and (max-width: 650px) {
    .sub3_1 .section1{ padding: 50px 0; }
    .sub3_1 .section1 .img-div{ padding: 50px 20px; }
    .sub3_1 .section1 .img-div .content{ font-size: 14px; }
}

.sub3_1 .section2{ padding: 0 0 100px 0; }
.sub3_1 .section2 h3{ text-align: center; }
.sub3_1 .section2 h4{ text-align: center; }
.sub3_1 .section2 .sub-content{ color: #fff; font-size: 18px; margin-top: 14px; text-align: center; }
.sub3_1 .section2 .sub-content b{ font-weight: 700; }
.sub3_1 .section2 .item-list{ grid-gap: 10px; display: grid; grid-template-columns: repeat(4,1fr); margin-top: 22px; }
.sub3_1 .section2 .item-list .item{ background-color: #fff; padding: 30px 10px; height: 100%; }
.sub3_1 .section2 .item-list .item .icon-div{ width: 76px; height: 76px; background-size: 50%; border-radius: 50%; margin: 0 auto; border: 1px solid #1e1e1e; background-repeat: no-repeat; background-position: center; }
.sub3_1 .section2 .item-list .item .title{ font-size: 18px; margin: 10px 0; text-align: center; font-weight: 700; }
.sub3_1 .section2 .item-list .item .content{ word-break: keep-all; text-align: center; line-height: 1.5em; color: #636363; }
.sub3_1 .section2 .item-list .item .content b{ font-weight: 700; }

@media screen and (max-width: 1250px) {
    .sub3_1 .section2 .item-list .item .content br{ display: none; }
}
@media screen and (max-width: 950px) {
    .sub3_1 .section2 .item-list{ grid-template-columns: repeat(2,1fr); }
    .sub3_1 .section2 .item-list .item .content br{ display: inline-block; }

}
@media screen and (max-width: 650px) {
    .sub3_1 .section2{ padding: 0 0 50px 0; }
    .sub3_1 .section2 .item-list .item .icon-div{ width: 50px; height: 50px; }
    .sub3_1 .section2 .item-list .item .title{ font-size: 16px; }
    .sub3_1 .section2 .item-list .item .content{ font-size: 14px; }
    .sub3_1 .section2 .item-list .item .content br{ display: none; }
}
@media screen and (max-width: 500px) {
    .sub3_1 .section2 .item-list{ grid-template-columns: repeat(1,1fr); }
    .sub3_1 .section2 .item-list .item{ padding: 30px 20px; }
}

/* .sub3_1 .section3 */
.sub3_1 .section3 { padding: 0 0 50px 0; }
.sub3_1 .section3 .item-div{ margin-top: 30px; display: flex; gap: 40px; align-items: center; }
.sub3_1 .section3 .item-div .img-div{ width: 595px; height: 270px; background-size: cover; background-repeat: no-repeat; background-position: center; background-repeat: no-repeat; }
.sub3_1 .section3 .item-div .content{ font-size: 18px; color: #fff; line-height: 1.5em; }
.sub3_1 .section3 .item-div .content b{ font-weight: 700; }
.sub3_1 .section3 .item-wrap-div{ margin-top: 40px;  }
.sub3_1 .section3 .item-wrap-div h5{ color: #fff; font-size: 24px; font-weight: 700; }
.sub3_1 .section3 .item-wrap-div .item-list{ margin-top: 12px;  display: flex; gap: 17px; }
.sub3_1 .section3 .item-wrap-div .item-list > li { background-color: #fff; width: calc(100% / 4); }
.sub3_1 .section3 .item-wrap-div .item-list .item{ line-height: 1.5em; border-top: 4px solid #AF9273; font-size: 18px; padding: 26px 10px; text-align: center; font-weight: 700; color: #1E1E1E; height: 100%; display: flex; align-items: center; justify-content: center; }

@media screen and (max-width: 1250px) {
    .sub3_1 .section3 .item-div{ gap: 20px; }
    .sub3_1 .section3 .item-div .content{ font-size: 16px; }
    .sub3_1 .section3 .item-wrap-div .item-list{ flex-wrap: wrap; }
    .sub3_1 .section3 .item-wrap-div .item-list > li{ flex-grow: 1; }
}
@media screen and (max-width: 950px) {
    .sub3_1 .section3 .item-div{ flex-direction: column; }
    .sub3_1 .section3 .item-div .img-div{ width: 100%; height: 42vw; }
    .sub3_1 .section3 .item-div .content{ width: 100%; }
    .sub3_1 .section3 .item-wrap-div .item-list{ gap: 10px; }
}
@media screen and (max-width: 650px) {
    .sub3_1 .section3 .item-wrap-div h5{ font-size: 18px; }
    .sub3_1 .section3 .item-div .content{ font-size: 14px; }
    .sub3_1 .section3 .item-wrap-div .item-list .item{ word-break: keep-all; font-size: 14px; }
    .sub3_1 .section3 .item-wrap-div .item-list > li{ flex-grow: unset; width: calc((100% / 2) - 5px); }
}

.sub .apply-section-link{ padding: 0 0 50px 0; }
.sub .apply-section-link .apply-div{ display: flex; align-items: center; justify-content: space-between; color: #fff; padding: 50px 70px; background-image: url('../img/sub/sub3_1/section4/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub .apply-section-link .apply-div .t1{ font-weight: 700; font-size: 24px; }
.sub .apply-section-link .apply-div .t2{ margin-top: 12px; font-size: 16px; line-height: 1.5em; }
.sub .apply-section-link .apply-div .apply-btn{ align-items: center; display: flex; padding: 18px 20px; width: 100%; justify-content: center; max-width: 220px; background-color: #917962; text-align: center; gap: 6px; }
.sub .apply-section-link .apply-div .apply-btn .dot{ width: 8px; height: 8px; background-color: #fff; border-radius: 50%; }

@media screen and (max-width: 1250px) {
    .sub .apply-section-link .apply-div .t1{ font-size: 20px; }
    .sub .apply-section-link .apply-div .t2{ font-size: 16px; margin-top: 5px; }
}
@media screen and (max-width: 950px) {
    .sub .apply-section-link .apply-div{ padding: 50px 30px; flex-direction: column; align-items: center; justify-content: center; text-align: center; }
    .sub .apply-section-link .apply-div .t2{ word-break: keep-all; }
    .sub .apply-section-link .apply-div .apply-btn{ margin-top: 20px; }
}
@media screen and (max-width: 650px) {
    .sub .apply-section-link .apply-div .t2{ font-size: 14px; }
    .sub .apply-section-link .apply-div .apply-btn{ padding: 10px; max-width: 150px; font-size: 14px; }
}

/* .sub4_1 .section4 */
.sub4_1{ background-color: #F5F1ED; }
.sub.sub4_1 .sub-title-wrap h3{ color: #222; }
.sub4_1 .sub-banner-section{ color: #fff; background-image: url('../img/sub/sub4_1/banner-background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; } 
.sub4_1 .back-btn-div .back-btn{ color: #7f7f7f; font-size: 16px; display: flex; align-items: center; gap: 4px; }
.sub4_1 .title1{ font-size: 40px; margin-top: 16px; color: #222; text-shadow: 5px 10px 14px rgba(0, 0, 0, 0.15); font-family: 'KoPub Batang'; }
.sub4_1 .title2{ border-bottom: 1px solid #E6E6E6; padding-bottom: 10px; margin-top: 40px; display: flex; align-items: flex-end; gap: 10px; justify-content: space-between; flex-wrap: wrap; }
.sub4_1 .title2 h6{ color: #222; font-size: 20px; margin: 0; font-weight: 700; }
.sub4_1 .title2 .date{ font-size: 16px; color: #7f7f7f;  }

.sub4_1  .center-btn-div{ margin-top: 40px; display: flex; align-items: center; justify-content: center; }
.sub4_1  .center-btn-div .goto-list{ box-shadow: 5px 6px 4px 0 rgba(0, 0, 0, 0.05); display: block; padding: 15px 20px; width: 100%; max-width: 220px; text-align: center; background-color: #917962; color: #fff; }

@media screen and (max-width: 1250px) {
    .sub4_1 .title1{ font-size: 30px; }
    .sub4_1 .title2 h6{ font-size: 18px; }
    .sub4_1 .title2 .date{ font-size: 14px; }
}
@media screen and (max-width: 950px) {
    .sub4_1 .title1{ font-size: 24px; }
}
@media screen and (max-width: 650px) {
    .sub4_1  .center-btn-div .goto-list{ font-size: 14px; padding: 12px 15px; max-width: 150px; }
}

/* .sub5_1 */
.sub5_1{ background-color: #F5F1ED; }
.sub5_1 .sub-banner-section{ color: #fff; background-image: url('../img/sub/sub5_1/banner-background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; } 
.sub.sub5_1 .sub-title-wrap h3{ color: #222; }
.sub.sub5_1 .section1{ padding: 100px 0; } 
.sub.sub5_1 .section1 .tab-list{ margin-top: 20px; display: flex; flex-wrap: wrap; align-items: flex-start; gap: 12px; }
.sub.sub5_1 .section1 .tab-list .item{ min-width: 142px; text-align: center; display: block; background-color: #fff; border-radius: 4px; padding: 12px 21px; }
.sub.sub5_1 .section1 .tab-list .item.active{ color: #fff; background-color: #917962; box-shadow: 2px 4px 4px 0 rgba(145, 121, 98, 0.25); }
.sub.sub5_1 .section1 .content-list{ margin-top: 30px; display: grid; grid-template-columns: repeat(3,1fr); gap: 20px; }
.sub.sub5_1 .section1 .content-list .item{ display: block; background-color: #FFF; border-radius: 4px; box-shadow: 5px 9px 5px 0 rgba(0, 0, 0, 0.15); }
.sub.sub5_1 .section1 .content-list .item .img-box{ position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; height: 203px; }
.sub.sub5_1 .section1 .content-list .item .img-box .real{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub.sub5_1 .section1 .content-list .item .content-box{ padding: 20px; }
.sub.sub5_1 .section1 .content-list .item .category{ color: #917962; }
.sub.sub5_1 .section1 .content-list .item .title{ margin-top: 12px; font-weight: 700; font-size: 18px; }
.sub.sub5_1 .section1 .content-list .item .content{ color: #7F7F7F  ; margin-top: 5px; line-height: 1.5em; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 
.sub.sub5_1 .section1 .content-list .item .tag-list{ flex-wrap: wrap; margin-top: 22px; display: flex; gap: 7px; }
.sub.sub5_1 .section1 .content-list .item .tag-list .tag{ color: #917962; display: block; background-color: #F5F1ED; padding: 5px 10px; border-radius: 100px; }

@media screen and (max-width: 1250px) {
    .sub.sub5_1 .section1 .content-list .item .img-box{ height: 16vw; }
}
@media screen and (max-width: 950px) {
    .sub.sub5_1 .section1 .content-list{ grid-template-columns: repeat(2,1fr); grid-gap: 10px; }
    .sub.sub5_1 .section1 .content-list .item .img-box{ height: 23vw; }
}
@media screen and (max-width: 650px) {
    .sub.sub5_1 .section1 .content-list{ grid-template-columns: repeat(1,1fr); }
    .sub.sub5_1 .section1 .content-list .item .img-box{ height: 44vw; }
    .sub.sub5_1 .section1 .content-list .item .category{ font-size: 14px; }
    .sub.sub5_1 .section1 .content-list .item .title{ font-size: 16px; }
    .sub.sub5_1 .section1 .content-list .item .content{ font-size: 14px; }
    .sub.sub5_1 .section1 .content-list .item .tag-list{ font-size: 14px; margin-top: 10px; gap: 4px; }
    .sub.sub5_1 .section1 .tab-list .item{ min-width: unset; font-size: 14px; }
    
}

/* .sub6_1 */
.sub6_1{ background-color: #F5F1ED; }
.sub6_1 .sub-banner-section{ color: #fff; background-image: url('../img/sub/sub6_1/banner-background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; } 
